@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;

  src: local("Muller"), url("../fonts/MullerRegular.woff") format("woff"),
    url("../fonts/MullerRegular.woff2") format("woff2");
}
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;

  src: local("Muller"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
}
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;

  src: local("Muller"), url("../fonts/MullerMedium.woff") format("woff"),
    url("../fonts/MullerMedium.woff2") format("woff2");
}
@font-face {
  font-family: "Muller";
  font-style: normal;
  font-weight: 300;
  src: local("Muller"), url("../fonts/MullerLight.woff") format("woff"),
    url("../fonts/MullerLight.woff2") format("woff2");
}
body {
  font-family: "Muller";
  background-color: #f1f1f1;
}
.header {
  padding-top: 30px;
}
.container {
  width: 1168px;
  margin: 0px auto;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-telephone {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 25px;
}
.phone-number {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #666666;
}
.sign-up {
}
.sign-up-button {
  color: #cc9933;
}
.nav-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.navigation-panel {
}
.navigation-list {
  display: flex;
}
.navigation-item {
  margin-right: 45px;
}
.navigation-link {
  font-size: 16px;
  color: #666666;
}
.find-field {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 350px;
  outline: none;
  background-color: #f1f1f1;
}
.find-field-text {
  width: 450px;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 18px 21px;
  border: none;
  outline: none;
}
.find-button {
  border-radius: 20px;
  border: none;
  padding: 13px 21px;
}
.booking-section {
}
.booking-section-input {
  margin-right: 50px;
}
.booking-section-text {
}
.booking-container {
  display: flex;
}
.booking-info {
  margin-left: 44px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 40px;
}
.booking-section-input-field {
  width: 500px;
  display: flex;
  padding: 28px 21px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 24px;
}
.offer-count {
  display: flex;
  align-items: center;
}
.booking-section-find-button {
  font-weight: 700;
  border-radius: 10px;
  padding: 28px;
  border: none;
  outline: none;
  background-color: #cc9933;
  color: white;
}
.offer-count-text {
  margin-left: 30px;
}
.offer-count-item {
  color: #cc9933;
}
.booking-section-sales {
}
.fast-booking {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 40px;
}
.booking-sales-img {
  background-image: url(../img/img1.png);
  width: 600px;
  height: 540px;
  background-repeat: no-repeat;
}
.img-text-info {
}
.img-text-numbers {
  font-weight: 600;
  padding-top: 270px;
  padding-left: 45px;
  padding-bottom: 20px;
  font-size: 66px;
  color: white;
}
.img-text-price {
  padding-left: 45px;
  color: #948b85;
  font-size: 35px;
}
.img-text-more-info {
  padding-left: 40px;
  color: #f0bf5f;
  font-size: 16px;
}
.img-flex-div {
  display: flex;
  align-items: center;
}
.about-us-section {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.about-us-title {
  font-size: 40px;
  color: #000;
  margin-bottom: 30px;
}
.about-us-subtitle {
  letter-spacing: 0.2px;
  font-size: 16px;
  line-height: 40px;
  margin-left: 44px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 25px;
  border-radius: 10px;
  margin-right: 25px;
  flex: 0 1 559px;
  padding-top: 165px;
  background: url(../img/img2.jpg) no-repeat;
}
.card.card:nth-child(2) {
  background: url(../img/img3.jpg) no-repeat;
}
.card.card:nth-child(3) {
  background: url(../img/img4.jpg) no-repeat;
}
.card.card:nth-child(4) {
  background: url(../img/img5.jpg) no-repeat;
}
.card-text {
  border-radius: 10px;
  padding: 41px;
  background-color: white;
}

.card-text-item {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #cc9933;
}

.card-subtext-item {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
.card-link {
  color: #cc9933;
}

.advantages-section {
}
.advantages-title {
}
.advantages-card-container {
  margin-bottom: 70px;
}
.advantages-card {
  border-radius: 10px;
  background-color: white;
  width: 275px;
  height: 275px;
  margin: 15px;
}
.advantages-icon {
  margin-bottom: 23px;
  margin-left: 44px;
  margin-top: 44px;
}
.advantages-text {
  margin-left: 44px;
}
.card-first-row {
  display: flex;
}
.card-second-row {
  display: flex;
}
.card-third-row {
  display: flex;
}
.placement-section {
}
.placement-title {
}
.placement-card-container {
}
.placement-card {
  background-color: white;
  width: 373px;
  border-radius: 20px;
  margin-right: 26px;
  margin-bottom: 26px;
}
.placement-card-price {
  display: flex;
  font-family: "Muller";
}
.rating-image {
  padding-top: 40px;
  margin-left: 70px;
}
.placement-rating-image {
}

.placement-subtext {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 43px;
  font-family: "Muller";
}
.placement-subtext-info {
  padding-bottom: 23px;
  margin-left: 43px;
  font-family: "Muller";
}
.placement-geolocation-text {
  padding-bottom: 45px;
  font-family: "Muller";
}
.placement-card-text-rating {
  padding-top: 40px;
  padding-left: 43px;
}
.placement-card-text {
  display: flex;
  flex-direction: column;
  font-family: "Muller";
}
.placement-bold-text {
  font-size: 22px;
}
.placement-button {
  border-radius: 10px;
  background-color: white;
  border-color: #f0bf5f;
  color: #f0bf5f;
  font-size: 16px;
  padding: 15px 21px;
  font-family: "Muller";
}
.placement-button-container {
  padding-bottom: 13px;
  padding-left: 43px;
}
.view-variants-image {
  background: url(../img/img14.png) no-repeat;
  width: 375px;
}
.view-variants-button {
  color: white;
  font-size: 22px;
}
.see-more-button {
  margin-top: 370px;
  margin-left: 41px;
}
.contact-section {
}
.contact-title {
}
.contact-container {
  display: flex;
  
  
}
.contact-info-box {
  width: 472px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}
.contact-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #666666;
}
.title-text {
  text-align: left;
  font-size: 22px;
  white-space: nowrap;
  padding-right: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.adress-text-info {
  text-align: right;
  font-size: 16px;
}
.contact-phonenumber {
  text-align: left;
  color: #f0bf5f;
}
.email-first-row {
}
.contact-mail {
  color: #f0bf5f;
  font-size: 16px;
  

}
.email-column {
  padding-left: 20px;
}
.phone-column { 
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.email-text-container {
  display: flex;
}
.mail-info-text {
  text-align: right;
}
.contact-second-title {
  margin-left: 350px;
}

.contact-input-field {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-left: 320px;
}
.contact-input-item {
  padding: 22px ;
  border: none;
  outline: none;
  margin-bottom: 24px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Muller";
}
.contact-input-message {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
  font-family: "Muller";
  padding-bottom: 82px;
  padding-top: 22px;
  padding-left: 22px;
}
.contact-send-button {
  margin-left: 320px;
  padding: 22px;
  width: 340px;
  background-color: #cc9933;
  border: none;
  outline: none;
  color: white;
  font-family: "Muller";
  font-size: 16px;
  margin-top: 24px;
  border-radius: 10px;
}
.route-send-button {
  width: 214px;
  border-color: #cc9933;
  background-color: white;
  font-family: "Muller";
  font-size: 16px;
  color: #cc9933;
  padding: 24px;
  border-radius: 10px;
  margin-left: 18px;
  margin-bottom: 20px;
}
.button-container {
  padding-top: 40px;
}
.footer {
  padding-bottom: 20px;

}
.footer-container {
  display: flex;
  margin-top: 22px;
  border-radius: 10px;
  background-color: #333333;
  height: 300px;
}
.footer-text {
  font-size: 16px;
  color: white;
  padding-top: 30px;
  padding-left: 50px;
  line-height: 40px;
}
.footer-subtext {
  font-size: 16px;
  color: white;
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 50px;
  line-height: 40px;
}
.footer-link {
 margin-left: 50px;
 font-family: "Muller";
 color: #cc9933;
}
.footer-first-text {
  
}
.footer-second-text {
 padding-top: 10px;
 font-family: "Muller";
}
.footer-adress-info {
  font-size: 16px;
  color: white;
  padding: 30px;
  padding-left: 129px;

}
.footer-phone-number-container {
  display: flex;
  flex-direction: column;
  margin-left: 125px ;
  padding-bottom: 35px;
  
  
}
.footer-phone-number {
  color: #cc9933;
  padding-bottom: 10px;
  font-family: "Muller";
  font-size: 16px;
}
.footer-mail {
  color: #cc9933;
  padding-bottom: 10px;
  font-family: "Muller";
  font-size: 16px;
}
.footer-mail-container {
  display: flex;
  flex-direction: column;
  margin-left: 125px ;white-space: nowrap;
}
.footer-image {
  display: flex;
  
  
}
.footer-logo {
  position: absolute;
  left: 1111px;
  top: 5444px;

}
.footer-link-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1450px;
  top: 5434px;
  
}
.footer-link-icon {
  padding-bottom: 15px;
}